@font-face {
  font-family: Exo 2;
  src: url(../src/fonts/Exo_2/static/Exo2-Medium.ttf);
}
@font-face {
  font-family: PT Sans;
  src: url(../src/fonts/PT_Sans/PTSans-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans;
}
.continer {
  max-width: 1360px;
  margin: 0 auto;
}
